
<div class="jumbotron center">
	<h1>Holy Balls Man!!!</h1>
	<p><h2>We are the yolo-octo-swag revolution.</h2></p>
	<p>
  <button type="button" class="btn btn-default btn-lg">Login</button>
   <button type="button" class="btn btn-info btn-lg">Sign Up</button>
</p>
	<p><button type="button" class="btn btn-danger btn-lg btn-block">Click Here To Activate Swag Mode</button></p>
</div>

